.listDiv{
    display: flex;
    width: 200px;
    
    }

.myPic{
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
    color: white;
}

.center{    
    font-size: 20px;
}

.flag{
    width: 100px;
}

.city_w_button{
    display: flex;
    justify-content:space-between;
    width: 40%;
}

.visitedButton{
    background-color: lightgray;
}


.city_w_button .popUp{
display: none;
}
.city_w_button:hover .popUp{
display: block;
}

